* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1;
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
    color: #454545;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    font-size: var(--font-size-p1);
    font-family: var(--font-roboto-regular);
    line-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    line-height: var(--line-height-text-xs);
    font-weight: 400;
}

ul li {
    list-style: none;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 130%;
}

h2 {
    line-height: 130%;
    font-size: var(--font-size-h2);
}

h3 {
    line-height: 130%;
    font-size: var(--font-size-h3);
}

h4 {
    line-height: 130%;
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-p1);
}

.p1 {
    font-size: var(--font-size-p1);
}

.p2 {
    font-size: var(--font-size-p2);
}

.p3 {
    font-size: var(--font-size-p3);
}



/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(151, 151, 151);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}